# Python
__pycache__/
*.py[cod]
*.pyo
*.pyc


# Virtual environment
.venv/
venv/

# Environment variables / secrets
.env
.env.*

# Flask
instance/

# Database files
*.db
*.sqlite
*.sqlite3

.vscode/
.id# IDE
ea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/

# Build files
dist/
build/